<body id="splash">
  <!-- Navbar-->
  <div id="splash_navbar">
    <nav class="navbar navbar-expand-md">
      <div class="navbar-nav mr-auto ">
        <img src="../../assets/images/peersarmalamlogo.png" width="150px" height="71px">
      </div>
      <div class="navbar-nav ml-auto ">
        <a href="http://google.com" class="nav-item nav-link active"
          >Learn more</a
        >
        <a href="http://google.com" class="nav-item nav-link">About</a>
        <a href="http://google.com" class="nav-item nav-link">Contact</a>
        <a href="http://google.com" class="nav-item nav-link">Blog</a>
      </div>
    </nav>
  </div>
  <!-- Main Content-->
  <div class="container">
    <div class="row_splash">
      <p class="headline">Revolutionising the way we lend & borrow money</p>
      <p class="subheadline">
        We connect lenders and borrowers in one <br> peer-to-peer loan marketplace.
      </p>
      <button
        class="btn btn-primary btn-lg"
        data-toggle="modal"
        data-target="#login"
      >
        Log in with tBank
      </button>
    </div>
  </div>

  <!-- Login Pop-up (Normal) -->
  <div
    class="modal fade"
    id="login"
    tabindex="-1"
    role="dialog"
    aria-labelledby="loginTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h3 class="modal-title w-100 text-center" id="loginTitle">
            Log in with tBank
          </h3>
          <form [formGroup]="loginForm">
            <div class="row justify-content-center">
              <div class="form-group">
                <label for="username"><i class="fa fa-user"></i>Username</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="username"
                  id="username"
                  aria-describedby="username"
                />
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="form-group">
                <label for="pin"><i class="fa fa-lock"></i>6-digit PIN</label>
                <input
                  type="password"
                  class="form-control"
                  formControlName="pin"
                  id="pin"
                />
              </div>
            </div>
            <br />
            <div class="col text-center">
              <button
                type="submit"
                (click)="requestOTP()"
                data-toggle="modal"
                data-target="#generateOTP"
                data-dismiss="modal"
                class="btn btn-primary "
              >
                Generate OTP
              </button>
            </div>
          </form>
          <br /><br />
          <p class="cta text-center">
            Don't have a tBank account?
            <a href="http://tbankonline.com/" target="_blank">Sign up</a>.
          </p>
          <br />
        </div>
      </div>
    </div>
  </div>

  <!-- Login Pop-up (OTP) -->
  <div
    class="modal fade"
    id="generateOTP"
    tabindex="-1"
    role="dialog"
    aria-labelledby="loginTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h3 class="modal-title w-100 text-center" id="loginTitle">
            Log in with tBank
          </h3>
          <br />
          <p class="cta text-center">
            Enter the OTP code sent to your registered mobile number:
          </p>
          <form [formGroup]="otpForm">
            <div class="row justify-content-center">
              <div class="otp" id="otp">
                <input
                  type="phone"
                  class="otp-input"
                  maxlength="1"
                  formControlName="otp1"
                />
                <input
                  type="phone"
                  class="otp-input"
                  maxlength="1"
                  formControlName="otp2"
                />
                <input
                  type="phone"
                  class="otp-input"
                  maxlength="1"
                  formControlName="otp3"
                />
                <input
                  type="phone"
                  class="otp-input"
                  maxlength="1"
                  formControlName="otp4"
                />
                <input
                  type="phone"
                  class="otp-input"
                  maxlength="1"
                  formControlName="otp5"
                />
                <input
                  type="phone"
                  class="otp-input"
                  maxlength="1"
                  formControlName="otp6"
                />
              </div>
            </div>
            <br />
            <div class="col text-center">
              <button
                type="submit"
                class="btn btn-primary"
                data-dismiss="modal"
                (click)="login()"
              >
                Submit
              </button>
            </div>
          </form>
          <br /><br />
          <p class="cta text-center">
            Didn't receive the code?
            <a (click)="requestOTP()" target="_blank">Send code again</a>.
          </p>
          <br />
        </div>
      </div>
    </div>
  </div>
</body>
