.block {
    text-align: center;
    font-size: 2vmax;
    color: #6E6E6F;
    position: absolute;
    top: 10%;
    left: 10%;
    // margin: -100px 0 0 -150px;
    // right: 10%;
    width: 80%;
    // margin: 0 auto;
}

.block-text {
    // position: relative;
    padding: 5% 2.5% 2.5% 2.5%;
    width: 40%;
    float: right;
    text-align: left;
}

.block-timer {
    display: inline-block;
    color: rgb(255, 255, 255)
}

img {
    max-width: 100%;
    max-height: 100%;
}

.block-img {
    margin-top: 5%;
    margin-bottom: 5%;
    height: 60%;
    width: 60%;
    float: left
}

.block-link {
    display: flex;
}

// Timer Styling
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: normal;
    // color: #E50914
}

li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

li span {
    display: block;
    font-size: 4.5rem;
}

a {
    color: rgb(107, 105, 218);
}