<div *ngIf="!hasLink" class="block">
    <h1>Ready to plan your event with WeWorld?</h1>
</div>

<div *ngIf="hasLink" class="block">
    <h1>Your friend is waiting for you at WeWorld!</h1>
</div>

<form [formGroup]="maleForm">

    <input formControlName="name" id="input-1" type="text" placeholder="Bang" required autofocus />
    <label for="input-1">
      <span class="label-text">Your Name</span>
      <span class="nav-dot"></span>
      <div class="signup-button-trigger">Click me</div>
    </label>


    <input formControlName="age" id="input-2" type="text" placeholder="18" required />
    <label for="input-2">
      <span class="label-text">Age</span>
      <span class="nav-dot"></span>
    </label>


    <input formControlName="date1" id="input-3" type="text" placeholder="DD/MM/YYYY" required />
    <label for="input-3"> 
      <span class="label-text">Date Available 1st Choice
      </span>
      <span class="nav-dot"></span>       
  </label>

    <input formControlName="hour1" id="input-3" type="text" placeholder="HH:MM-HH:MM" required />
    <label for="input-3"> 
      <span class="label-text">Free Time 
      </span>
      <span class="nav-dot"></span>       
  </label>


    <input formControlName="date2" id="input-3" type="text" placeholder="DD/MM/YYYY" required />
    <label for="input-3"> 
    <span class="label-text">Date Available 2nd Choice
    </span>
    <span class="nav-dot"></span>       
</label>

    <input formControlName="hour2" id="input-3" type="text" placeholder="HH:MM-HH:MM" required />
    <label for="input-3"> 
    <span class="label-text">Free Time 
    </span>
    <span class="nav-dot"></span>       
</label>

    <input formControlName="preferences" id="input-4" type="text" placeholder="Concert, Carnival, Football..." required />
    <label for="input-4">
      <span class="label-text">Preferences</span>
      <span class="nav-dot"></span>
    </label>
    <input formControlName="occasion" id="input-5" type="text" placeholder="Anniversary, Weekend, Birthday..." required />
    <label for="input-5">
      <span class="label-text">Occasion</span>
      <span class="nav-dot"></span>
    </label>

    <button class="cursor" type="button" (click)="getMaleInfo()">Done</button>
    <p class="tip">Press Tab</p>
    <div class="signup-button">Click me</div>
</form>