.cursor {
    cursor: pointer
}

.block {
    text-align: center;
    font-size: 2vmax;
    color: #6E6E6F;
    position: absolute;
    top: 15%;
    left: 20%;
    right: 20%;
    width: 60%;
    // **** HIDE AFTER 3 SECONDS
    -webkit-animation: cssAnimation 0s ease-in 3s forwards;
    animation: cssAnimation 0s ease-in 3s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes cssAnimation {
    to {
        width: 0;
        height: 0;
        overflow: hidden;
    }
}

@-webkit-keyframes cssAnimation {
    to {
        width: 0;
        height: 0;
        visibility: hidden;
    }
}